

/* Global CSS (try not to overdo it) */

body {
  font-family: 'Merriweather', serif;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F3F3F3;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

::-webkit-scrollbar:horizontal{
  height: 5px;
}